@{
    Layout = null;
  
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="margin:30px 30px;">
        <div class="ckbox">
            <input id="F_EnabledMark" name="F_EnabledMark" type="checkbox" checked="checked"><label for="F_EnabledMark">上班</label>
        </div>
        <div class="ckbox">
            <input id="F_EnabledMark" name="F_EnabledMark" type="checkbox" checked="checked"><label for="F_EnabledMark">下班</label>
        </div>
    </div>
</body>
</html>
